.contacts {
    padding: 69px 0 76px;

    @include media-down(sm) {
        padding: 44px 0 68px;
    }

    &__header {
        @include media-up(md) {
            display: flex;
        }
    }

    &__main {
        width: 459px;
        margin-right: 10px;
        margin-bottom: 75px;

        @include media-down(md) {
            width: 350px;
            margin-bottom: 50px;
        }

        @include media-down(sm) {
            width: 100%;
            margin-bottom: 43px;
        }
    }

    &__title {
        margin-bottom: 30px;
    }

    &__logo {
        flex: 1 1 0;
        position: relative;

        @include media-down(sm) {
            display: none;
        }

        img {
            position: absolute;
            left: 20px;
            top: -45px;
            width: 100%;

            @include media-down(md) {
                top: -30px;
            }
        }
    }

    &__form {
        max-width: 610px;
        display: block;

        .fields-list {
            flex-wrap: wrap;
            margin-bottom: 40px;

            &__item {
                &:first-child {
                    margin-right: 28px;
                }

                &:last-child {
                    flex: none;
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-bottom: 36px;

                    @include media-down(sm) {
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }
            }

            input, textarea {
                &:focus,
                &.is-filled {
                    border-color: rgba(65, 64, 83, 0.2);
                    
                    & ~ label {
                        color: $border;
                    }
                }
            }
        }

        strong {
            font-weight: 600;
        }

        .button {
            padding: 0 25px;
            border: 0;
            background-color: $color-main;
            color: #fff;
            margin-top: 30px;
    
            &:hover {
                background-color: $color-yellow;
            }
        }
    }
}