.donate {
    padding: 62px 0 56px;

    @include media-down(sm) {
        padding: 27px 0 33px;
    }

    h1  {
        font-size: 32px;
        color: $color-main-2;
        margin-bottom: 16px;

        @include media-down(sm) {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 27px;
        }

        @include media-down(xxs) {
            font-size: 22px;
            line-height: 28px;
        }
    }

    p {
        color: $color-08;
        max-width: 720px;
    }
}

.donate-table {
    margin: 30px 0 40px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    &__list {
        @include media-up(md) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 15px 0;
        border-bottom: 1px solid $border;

        &:nth-child(odd):last-child {
            width: 100%;
            border: 0;
            padding-bottom: 0;
        }

        @include media-up(md) {
            width: 50%;

            &:nth-child(even) {
                border-left: 1px solid $border;
                padding-left: 17px;
            }
        }
    }

    &__text {
        max-width: 583px;
        margin-top: 10px;
        margin-bottom: 23px;
        font-size: 14px;
    }
}

.donate-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 66px;
    border-top: 1px solid $border;

    @include media-down(sm) {
        margin-top: 62px;
        display: block;
    }

    &__title {
        width: 100%;
        padding: 30px 0;
        text-align: center;
        border-bottom: 1px solid $border;
    }
}

.donate-card {
    width: calc(100% / 3);
    border-bottom: 1px solid $border;
    padding: 45px 40px 32px;
    border-right: 1px solid $border;

    &:nth-last-child(1) {
        border-right: 0;
    }

    @include media-down(md) {
        padding: 35px 20px 20px;
    }

    @include media-down(sm) {
        width: 100%;
        padding: 45px 20px 42px 28px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        font-size: 14px;
    }
}