.fields-list {
    display: flex;
    flex: 1;

    @include media-down(sm) {
        display: block;
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
        flex: 1;

        label {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 14px;
            line-height: 19px;
            transition: .25s ease;
            pointer-events: none;
        }

        input, textarea {
            &:focus, &.is-filled {
                & ~ label {
                    transform: translateY(-20px);
                }
            }
        }
    }
}