.volunteers {
    margin-bottom: 80px;

    @include media-down(sm) {
        margin-bottom: 40px;
    }

    &__text {
        padding: 35px 0;
        color: $color-08;

        @include media-down(sm) {
            padding: 0;
            margin-bottom: 38px;
        }

        p {
            max-width: 656px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid $border;

        @include media-down(sm) {
            display: block;
            padding: 0 20px;
            border: 0;
        }
    }

    &__requires {
        padding: 50px 0;
        color: $color-08;

        @include media-down(sm) {
            padding: 27px 0 39px;
        }

        strong {
            color: $color-main;
        }
    }

    &__info {
        padding: 30px 0;
        color: #fff;
        font-weight: 500;
        position: relative;
        margin-bottom: 75px;

        @include media-down(sm) {
            margin-bottom: 30px;
        }

        a {
            white-space: nowrap;

            &:not(:hover) {
                color: #fff;
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            left: -50vw; top: 0;
            display: block;
            width: 150vw;
            height: 100%;
            background: $color-purple-2;
        }
    }
}

.volunteer {
    width: 25%;
    min-height: 215px;
    padding: 36px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;

    &:nth-child(4n) {
        border-right: 0;
    }

    @include media-down(sm) {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        min-height: 87px;
        padding: 20px 0;
        border-right: 0;
        text-align: left;

        &:first-child {
            border-top: 1px solid $border;
        }
    }

    &__logo {
        flex-shrink: 0;
        width: 92px;
        height: 92px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;

        @include media-down(sm) {
            width: 46px;
            height: 46px;
            margin-bottom: 0;
            margin-right: 14px;
        }

        img {
            width: 100%;
        }
    }

    &__title {
        font-weight: 500;
        line-height: 22px;
    }
}