@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-family: "Inter";
    src: url("fonts/Inter-Regular.woff2") format("woff2"),
         url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-family: "Inter";
    src: url("fonts/Inter-Medium.woff2") format("woff2"),
         url("fonts/Inter-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-family: "Inter";
    src: url("fonts/Inter-SemiBold.woff2") format("woff2"),
         url("fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    font-family: "Inter";
    src: url("fonts/Inter-Bold.woff2") format("woff2"),
         url("fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-family: "Barlow Condensed";
    src: url("fonts/BarlowCondensed-Regular.woff2") format("woff2"),
         url("fonts/BarlowCondensed-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-family: "Barlow Condensed";
    src: url("fonts/BarlowCondensed-Medium.woff2") format("woff2"),
         url("fonts/BarlowCondensed-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-family: "Barlow Condensed";
    src: url("fonts/BarlowCondensed-SemiBold.woff2") format("woff2"),
         url("fonts/BarlowCondensed-SemiBold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: bold;
    font-family: "Barlow Condensed";
    src: url("fonts/BarlowCondensed-Bold.woff2") format("woff2"),
         url("fonts/BarlowCondensed-Bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    font-family: "Barlow Condensed";
    src: url("fonts/BarlowCondensed-ExtraBold.woff2") format("woff2"),
         url("fonts/BarlowCondensed-ExtraBold.woff") format("woff");
}