<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="blog blog-post">
            <div class="blog__content">
                <div class="blog__main">
                    <article class="blog-post__content wow fadeIn">
                        <div class="container">
                            <h1 class="blog-post__title" style="color: #443776;">
                                Learn about<br> domestic violence
                            </h1>
                            <div class="blog-post__info">
                                Feb 24, 2019 | Community
                            </div>
                            <div class="blog-post__logo">
                                <img src="img/base/blog-post-6.jpg" alt="">
                            </div>
                            <div class="blog-post__text">
                                <p>What is domestic violence? The definition of domestic violence is as follows: domestic violence is a pattern of behaviors in any relationship that one intimate partner uses to get or keep power and control over another intimate partner.</p>
                                <p>In other words, domestic violence is physical, sexual, emotional, economic, or psychological actions that influence another person. In an abusive relationship, one intimate partner uses physical, sexual, emotional, or other types of domestic violence to try to gain and maintain power and control over the other partner.</p>
                                <p>Every human being has the right to feel safe, to live each day, and rest each night, free from violent actions and intimidating threats. </p>
                                <p>Every human heart can admit what love is — and is not. Love is not abuse. Domestic violence is never acceptable in any relationship.</p>


                                <div class="text-block">
                                    <h4>Domestic violence can happen to anyone</h4>
                                    <p>Married couples. People who are living together or who are dating. Teens. College students. Newlyweds. So-called “Power Couples” blessed with wealth and fame. Men and women working to raise themselves out of poverty. LGBTQ partners. People with disabilities. Seniors. Anyone.</p>
                                    <br>
                                    <h4>Domestic violence affects everyone</h4>
                                    <p>We all need to understand domestic violence. Learn how to recognize the signs of domestic violence happening in your own life or the lives of friends, family, neighbors, and co-workers, or anyone you know. </p>
                                </div>
                            </div>
                        </div>
                    </article>

                    <div class="blog-post__nav">
                        <a href="article.html" class="wow bounceInUp blog-post__nav-link">
                            <span>Next:</span> 
                            Honoring the Ladies of Haven Hills, Past & Present
                        </a>
                    </div>

                    <div class="blog-post__others">
                        <h3 class="blog-post__others-title">Recent posts</h3>
                        <ul class="blog__items">
                            <li class="blog__item blog-item">
                                <article>
                                    <a href="article.html" class="blog-item__hovers">
                                        <div class="blog-item__logo" style="background-image:url(img/base/blog-post-1.jpg)">
                                            <img src="img/base/blog-post-1.jpg" alt="">
                                        </div>
                                        <div class="blog-item__title" style="color: #7FB88F">
                                            #orange4love
                                        </div>
                                    </a>
                                    <div class="blog-item__text">
                                        February is Teen Dating Violence Awareness Month. Developing healthy relationships as teens can have monumental ramifications later in life. In fact, the severity of domestic violence is often greater in cases where the pattern of abuse was...
                                    </div>
                                    <div class="blog-item__footer" style="color: #7FB88F">
                                        Feb 24, 2019 | Community
                                    </div>
                                </article>
                            </li>

                            <li class="blog__item blog-item">
                                <article>
                                    <a href="article.html" class="blog-item__hovers">
                                        <div class="blog-item__logo" style="background-image:url(img/base/blog-post-2.jpg)">
                                            <img src="img/base/blog-post-2.jpg" alt="">
                                        </div>
                                        <div class="blog-item__title" style="color: #4789B6">
                                            Do you consider domestic violence a cause to homelessness in the United States?
                                        </div>
                                    </a>
                                    <div class="blog-item__text">
                                        You may be surprised to learn that domestic violence is a common factor in homelessness for post adults and families. 
                                    </div>
                                    <div class="blog-item__footer" style="color: #4789B6">
                                        Sep 14, 2018 | Domestic violence
                                    </div>
                                </article>
                            </li>

                            <li class="blog__item blog-item">
                                <article>
                                    <a href="article.html" class="blog-item__hovers">
                                        <div class="blog-item__logo" style="background-image:url(img/base/blog-post-3.jpg)">
                                            <img src="img/base/blog-post-3.jpg" alt="">
                                        </div>
                                        <div class="blog-item__title" style="color: #DE6649">
                                            June is Pride Month! Haven Hills is proud to welcome the LGBTQ+ community to our programs.
                                        </div>
                                    </a>
                                    <div class="blog-item__text">
                                        We are proud to support the LGBTQ+ community! People who identify as LGBTQ+ fall victim to domestic violence at equal or even higher rates...
                                    </div>
                                    <div class="blog-item__footer" style="color: #DE6649">
                                        Jun 13, 2019 | LGBTQ
                                    </div>
                                </article>
                            </li>
                        </ul><!-- /.blog__items -->
                    </div>
                </div><!-- /.blog__content -->

                <div class="blog__aside blog-aside">                    
                    <div class="blog-aside__inner">
                        <div class="blog-aside__block">
                            <h4 class="blog-aside__title">Categories</h4>
                            <ul class="blog-aside__content categories">
                                <li class="categories__item categories__item--current">
                                    <a href="#">All</a>
                                    <span>/ 24</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">Survivor Stories</a>
                                    <span>/ 4</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">Community</a>
                                    <span>/ 2</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">LGBTQ</a>
                                    <span>/ 7</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">Domestic Violence</a>
                                    <span>/ 8</span>
                                </li>
                            </ul>
                        </div>

                        <div class="blog-aside__block">
                            <h4 class="blog-aside__title">Important articles</h4>
                            <ul class="blog-aside__content other-articles">
                                <li class="other-articles__item" style="background-color: #F9D593;">
                                    <a href="faq.html">
                                        <div class="other-articles__item-title">
                                            Domestic violence FAQ
                                        </div>
                                        <div class="other-articles__item-footer">
                                            Jun 13, 2019 | Domestic violence
                                        </div>
                                    </a>
                                </li>
                                <li class="other-articles__item" style="background-color: #7FB88F;">
                                    <a href="article.html">
                                        <div class="other-articles__item-title">
                                            Learn about domestic violence
                                        </div>
                                        <div class="other-articles__item-footer">
                                            Jun 13, 2019 | Domestic violence
                                        </div>
                                    </a>
                                </li>
                                <!-- <li class="other-articles__item" style="background-color: #5AA1C8;">
                                    <a href="#">
                                        <div class="other-articles__item-title">
                                            Domestic violence statistics
                                        </div>
                                        <div class="other-articles__item-footer">
                                            Jun 13, 2019 | Domestic violence
                                        </div>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div><!-- /.blog__aside -->
            </div><!-- /.blog__content -->
        </section>
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>