<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="blog">
            <div class="blog__header">
                <h1 class="blog__title">Blog</h1>
                <div class="blog__filter">
                    <div class="filter">
                        Sort by:
                        <a href="#" class="filter__current">Popular</a>
                        <ul class="filter__items">
                            <li>
                                <a href="#" class="filter__item">Popular</a>
                            </li>
                            <li>
                                <a href="#" class="filter__item">Category</a>
                            </li>
                            <li>
                                <a href="#" class="filter__item">Date</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- /.blog__header -->

            <div class="blog__content">
                <div class="blog__main">
                    <ul class="blog__items wow">
                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-1.jpg)">
                                        <img src="img/base/blog-post-1.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #7FB88F">
                                        #orange4love
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    February is Teen Dating Violence Awareness Month. Developing healthy relationships as teens can have monumental ramifications later in life. In fact, the severity of domestic violence is often greater in cases where the pattern of abuse was...
                                </div>
                                <div class="blog-item__footer" style="color: #7FB88F">
                                    Feb 24, 2019 | Community
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-2.jpg)">
                                        <img src="img/base/blog-post-2.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #4789B6">
                                        Do you consider domestic violence a cause to homelessness in the United States?
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    You may be surprised to learn that domestic violence is a common factor in homelessness for single adults and families. 
                                </div>
                                <div class="blog-item__footer" style="color: #4789B6">
                                    Sep 14, 2018 | Domestic violence
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-3.jpg)">
                                        <img src="img/base/blog-post-3.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #DE6649">
                                        June is Pride Month! Haven Hills is proud to welcome the LGBTQ+ community to our programs.
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    We are proud to support the LGBTQ+ community! People who identify as LGBTQ+ fall victim to domestic violence at equal or even higher rates...
                                </div>
                                <div class="blog-item__footer" style="color: #DE6649">
                                    Jun 13, 2019 | LGBTQ
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-4.jpg)">
                                        <img src="img/base/blog-post-4.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #443776">
                                        And just like that, she rises like a phoenix
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    For over 40 years, Haven Hills has strived to provide Survivors with the support they need to overcome the damage that domestic violence has created in their lives.
                                </div>
                                <div class="blog-item__footer" style="color: #443776">
                                    Aug 29, 2018 | Survivor stories
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-5.jpg)">
                                        <img src="img/base/blog-post-5.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #4789B6">
                                        Learn About Domestic Violence
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    Domestic violence is a pattern of physical, sexual, psychological and/or economic assaultive and coercive behaviors against intimate partners. It does not have to be physical abuse. DOMESTIC VIOLENCE FACTS 20 people...
                                </div>
                                <div class="blog-item__footer" style="color: #4789B6">
                                    Nov 12, 2014 | Domestic violence
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-2.jpg)">
                                        <img src="img/base/blog-post-2.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #4789B6">
                                        Do you consider domestic violence a cause to homelessness in the United States?
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    You may be surprised to learn that domestic violence is a common factor in homelessness for single adults and families. 
                                </div>
                                <div class="blog-item__footer" style="color: #4789B6">
                                    Sep 14, 2018 | Domestic violence
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-1.jpg)">
                                        <img src="img/base/blog-post-1.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #7FB88F">
                                        #orange4love
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    February is Teen Dating Violence Awareness Month. Developing healthy relationships as teens can have monumental ramifications later in life. In fact, the severity of domestic violence is often greater in cases where the pattern of abuse was...
                                </div>
                                <div class="blog-item__footer" style="color: #7FB88F">
                                    Feb 24, 2019 | Community
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-2.jpg)">
                                        <img src="img/base/blog-post-2.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #4789B6">
                                        Do you consider domestic violence a cause to homelessness in the United States?
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    You may be surprised to learn that domestic violence is a common factor in homelessness for single adults and families. 
                                </div>
                                <div class="blog-item__footer" style="color: #4789B6">
                                    Sep 14, 2018 | Domestic violence
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-3.jpg)">
                                        <img src="img/base/blog-post-3.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #DE6649">
                                        June is Pride Month! Haven Hills is proud to welcome the LGBTQ+ community to our programs.
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    We are proud to support the LGBTQ+ community! People who identify as LGBTQ+ fall victim to domestic violence at equal or even higher rates...
                                </div>
                                <div class="blog-item__footer" style="color: #DE6649">
                                    Jun 13, 2019 | LGBTQ
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-4.jpg)">
                                        <img src="img/base/blog-post-4.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #443776">
                                        And just like that, she rises like a phoenix
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    For over 40 years, Haven Hills has strived to provide Survivors with the support they need to overcome the damage that domestic violence has created in their lives.
                                </div>
                                <div class="blog-item__footer" style="color: #443776">
                                    Aug 29, 2018 | Survivor stories
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-5.jpg)">
                                        <img src="img/base/blog-post-5.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #4789B6">
                                        Learn About Domestic Violence
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    Domestic violence is a pattern of physical, sexual, psychological and/or economic assaultive and coercive behaviors against intimate partners. It does not have to be physical abuse. DOMESTIC VIOLENCE FACTS 20 people...
                                </div>
                                <div class="blog-item__footer" style="color: #4789B6">
                                    Nov 12, 2014 | Domestic violence
                                </div>
                            </article>
                        </li>

                        <li class="blog__item blog-item">
                            <article>
                                <a href="article.html" class="blog-item__hovers">
                                    <div class="blog-item__logo" style="background-image:url(img/base/blog-post-2.jpg)">
                                        <img src="img/base/blog-post-2.jpg" alt="">
                                    </div>
                                    <div class="blog-item__title" style="color: #4789B6">
                                        Do you consider domestic violence a cause to homelessness in the United States?
                                    </div>
                                </a>
                                <div class="blog-item__text">
                                    You may be surprised to learn that domestic violence is a common factor in homelessness for single adults and families. 
                                </div>
                                <div class="blog-item__footer" style="color: #4789B6">
                                    Sep 14, 2018 | Domestic violence
                                </div>
                            </article>
                        </li>
                    </ul><!-- /.blog__items -->

                    <div class="blog__pagination">
                        <nav class="pagination">
                            <span class="pagination__button button pagination__prev pagination__button--disabled">Prev</span>
                            <a href="#" class="pagination__page pagination__page--current">1</a>
                            <a href="#" class="pagination__page">2</a>
                            <a href="#" class="pagination__page">...</a>
                            <a href="#" class="pagination__page">5</a>
                            <span class="pagination__button button pagination__next">Next</span>
                        </nav>
                    </div>
                </div><!-- /.blog__content -->

                <div class="blog__aside blog-aside">
                    <div class="blog-aside__inner">
                        <div class="blog-aside__block">
                            <h4 class="blog-aside__title">Categories</h4>
                            <ul class="blog-aside__content categories">
                                <li class="categories__item categories__item--current">
                                    <a href="#">All</a>
                                    <span>/ 24</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">Survivor Stories</a>
                                    <span>/ 4</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">Community</a>
                                    <span>/ 2</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">LGBTQ</a>
                                    <span>/ 7</span>
                                </li>
                                <li class="categories__item">
                                    <a href="#">Domestic Violence</a>
                                    <span>/ 8</span>
                                </li>
                            </ul>
                        </div>

                        <div class="blog-aside__block">
                            <h4 class="blog-aside__title">Important articles</h4>
                            <ul class="blog-aside__content other-articles">
                                <li class="other-articles__item" style="background-color: #F9D593;">
                                    <a href="faq.html">
                                        <div class="other-articles__item-title">
                                            Domestic violence FAQ
                                        </div>
                                        <div class="other-articles__item-footer">
                                            Jun 13, 2019 | Domestic violence
                                        </div>
                                    </a>
                                </li>
                                <li class="other-articles__item" style="background-color: #7FB88F;">
                                    <a href="#">
                                        <div class="other-articles__item-title">
                                            Learn about domestic violence
                                        </div>
                                        <div class="other-articles__item-footer">
                                            Jun 13, 2019 | Domestic violence
                                        </div>
                                    </a>
                                </li>
                                <li class="other-articles__item" style="background-color: #5AA1C8;">
                                    <a href="#">
                                        <div class="other-articles__item-title">
                                            Domestic violence statistics
                                        </div>
                                        <div class="other-articles__item-footer">
                                            Jun 13, 2019 | Domestic violence
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.blog__aside -->
            </div><!-- /.blog__content -->
        </section>
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>