<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="donate wow fadeIn">
            <div class="container">
                <h1>Domestic Violence Donations: How to Make an Impact Today</h1>
                <p>
                    Looking to donate to domestic violence shelters near me? A one-time donation or monthly pledge of any amount helps Haven Hills continue to provide food, traditional and emergency housing, and counseling services to hundreds of individuals and families in Los Angeles. Any domestic violence shelter donations you make are essential in transforming the lives of survivors in our local community.
                </p>

                <p>
                    <strong>Please consider one of the donation amounts below:</strong>
                </p>

                <div class="donate-table">
                    <ul class="donate-table__list">
                        <li class="donate-table__item">
                            <b>$25</b> sponsors school supplies for our crisis shelter
                        </li>
                        <li class="donate-table__item">
                            <b>$45</b> feeds a family for a day
                        </li>
                        <li class="donate-table__item">
                            <b>$75</b> provides emergency transportation fare
                        </li>
                        <li class="donate-table__item">
                            <b>$135</b> feeds three families for a day
                        </li>
                        <li class="donate-table__item donate-table__item--full">
                            <b>$500</b> sponsors a month of child counseling
                        </li>
                    </ul>
                    <div class="donate-table__text">
                        <p>
                            An investment in Haven Hills is a catalyst that creates a better future for someone who might just be your neighbor, colleague, employee, acquaintance, or cherished friend. Haven Hills is proud to report that more than 80% of every dollar raised is used to provide service to survivors of domestic violence, keeping families safe and empowering them to break the cycle of violence. Haven Hills is a 501(c)(3) agency, designated by the IRS, Federal Identification Number 95-3196247. 
                        </p>
                    </div>
                </div>

                <p>
                    If you would like to send a check, please make the check payable to Haven Hills and mail to P.O. Box 260, Canoga Park, CA 91305. Otherwise, complete the below form to donate online
                </p>

                <div class="donate-form">
                    <form action="#" class="form"></form>
                </div>

                <p>
                    From all of us at Haven Hills, we send our deepest thanks for making a difference today.
                </p>
            </div>

            <div class="donate-cards wow fadeInUp">
                <div class="donate-cards__title">
                    <h3>Other Ways to Make an Impact</h3>
                </div>
                <div class="donate-cards__item donate-card">
                    <h4 class="donate-card__title">Volunteer</h4>
                    <div class="donate-card__text">
                        <p>
                            Experience genuine pride and satisfaction as you help deserving families and 
                            individuals rebuild their lives. Explore <a href="volunteers.html">our volunteer page</a> to view a list of 
                            ways to get involved and actively support survivors of domestic violence today. 
                            Have questions about volunteering? Feel free to email 
                            <a href="#">volunteers@havenhills.org</a>, and we'll get back to you as soon 
                            as possible.
                        </p>
                    </div>
                </div>
                <div class="donate-cards__item donate-card">
                    <h4 class="donate-card__title">Leave a legacy</h4>
                    <div class="donate-card__text">
                        <p>
                            Let your love and compassion live on: remember Haven Hills when you make your will when 
                            and leave a legacy of domestic violence shelters donations. Contact our Development 
                            Associate at <b>818.887.7481</b>, Extension 121, or <a href="#">help@havenhills.org</a> 
                            to quickly get the help you need to donate for domestic violence as a part of your estate 
                            planning. Your bequest will save lives.
                        </p>
                    </div>
                </div>
                <div class="donate-cards__item donate-card">
                    <h4 class="donate-card__title">Join our community</h4>
                    <div class="donate-card__text">
                        <p>
                            We exist to empower survivors and transform their lives. Staffed by hard-working 
                            professionals and volunteers, Haven Hills is a community that brings positive change 
                            to the greater Los Angeles area — and we'd love for you to join our community. 
                            <a href="/#newsletter">Sign up for the Haven Hills newsletter</a> to learn how you 
                            can get involved with us today and on an ongoing basis.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>