<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="faq">
            <div class="page-title page-title--center">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="search">
                <input type="text" class="search__input" name="search-input" id="search-input" placeholder="Search for a question">
                <button class="search__button"></button>
            </div>

            <ul class="faq__list">
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What is domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>Domestic violence (DV) refers to any patterns or behaviors used to gain power and control over a partner. Domestic violence is not just physical — it can be verbal, psychological, financial, sexual, and emotional. By using these strategies, abusive partners aim to isolate survivors from resources and chip away at their self-esteem. Abusers typically use manipulation, intimidation, denial, and failure to take responsibility for their actions.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What causes domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>Domestic violence is deeply rooted in power and control. Many myths and realities surround the causes of domestic violence, including alcohol or drug misuse, mental illness, or earlier experiences of violence. However, the abuse of power over another person is the real cause of domestic violence. Behavior is a choice, and those who perpetrate domestic violence do so to get what they want and gain control</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What is the cycle of abuse?</h4>
                        <div class="faq-item__text">
                            <p>The cycle of abuse refers to a repeated pattern of tactics used by the abusive partner to dominate their partner. The diagram below illustrates the cycle of abuse.</p>
                            <img src="img/base/cycle-of-abuse.jpg" alt="">
                            <p>The cycle of abuse refers to a repeated pattern of tactics used by the abusive partner to dominate their partner. The diagram below illustrates the cycle of abuse.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">How does domestic violence impact children?</h4>
                        <div class="faq-item__text">
                            <p>Domestic violence harms children and is traumatic. It impacts all areas of life, including health, education, and development of relationships. The effects of domestic violence will be different for each child. However, domestic violence is often an underlying theme behind social issues, such as school dropout and exclusion, youth homelessness, and youth risk-taking behavior. Therefore, providing children with appropriate support and helping them to develop resilience is essential.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Why do individuals return to their abusive partners?</h4>
                        <div class="faq-item__text">
                            <p>Leaving an abusive relationship is a long and challenging process for various reasons. Abusive partners work hard to keep survivors trapped in the abusive relationship, using tactics such as isolation from friends and family to reduce social support. At times, the survivor may be at greater risk when leaving the abusive relationship rather than staying in the abusive partner's hands.  </p>
                            <p>It is important to remember that leaving is a process, not an event. Survivors of domestic violence need to be believed, supported, and encouraged to take positive steps for their safety and well-being. Unfortunately, leaving an abusive partner does not always stop the violence. Many survivors are still exposed to abuse when they leave the relationship.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">How does domestic violence impact the LGBTQ community?</h4>
                        <div class="faq-item__text">
                            <p>Individuals in the LGBTQ community can experience domestic violence. Domestic violence is a pervasive, life-threatening crime that affects millions of people. Relationship abuse occurs at roughly the same rate in same-sex relationships as heterosexual relationships, although the tactics may differ. For example, an abuser may threaten to out their partner to family, friends, or professional connections. "Outing" someone is a tactic used to isolate and silence the partner.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Can men experience domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>Yes. Domestic violence can affect everyone. According to the <a href="https://ncadv.org/STATISTICS" target="_blank" rel="noopener noreferrer">National Coalition Against Domestic Violence</a>, 1 in 4 men within the United States experience domestic violence. Often, men struggle to seek help from domestic violence due to fear of not being believed and being seen as less masculine. When men access services, they tend to minimize the abuse and avoid the social stigma associated with their inability to protect themselves.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Does domestic violence only happen to people who live below the poverty line? </h4>
                        <div class="faq-item__text">
                            <p>Domestic violence can happen to anyone, regardless of socioeconomic status. However, people who live below the poverty line are disproportionately affected by domestic violence for various reasons.</p>
                            <p>For example, finances are a significant reason why some domestic violence survivors may remain in an abusive relationship. An individual who is not financially independent cannot move away from the abuser and afford a place of their own. Furthermore, an abusive partner may be controlling the finances, which makes it almost impossible for a survivor to save money. These and other forms of financial abuse make domestic violence especially challenging for individuals below the poverty line. </p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Is there a connection between domestic violence and homelessness?</h4>
                        <div class="faq-item__text">
                            <p>Domestic violence and homelessness intertwine in many ways. When a survivor flees from their abusive partner, the survivor typically has nowhere to go. This unfortunate reality often happens because the abusive partner may have isolated the survivor from family and friends, or inhibited their self-sufficiency.</p>
                            <p>Domestic violence shelters have limited capacity, which means every survivor will not have the opportunity to find shelter. Domestic violence reports state that safe, affordable housing is one of the primary barriers a survivor faces when leaving their abusive partner. In fact, domestic violence is the leading cause of homelessness for women and children.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What resources are available to support survivors?</h4>
                        <div class="faq-item__text">
                            <p>Within Los Angeles County, there are many resources available to support survivors of domestic violence.</p>
                            <ul>
                                <li>Emergency crisis shelters offer temporary housing to survivors who are actively fleeing a domestic violence situation.</li>
                                <li>Transitional housing programs provide survivors with long-term housing to give them the tools needed to build financial stability and a healthier lifestyle.</li>
                                <li>Many agencies offer domestic violence support groups that enable survivors to connect with others who have similar experiences. </li>
                                <li>Legal counseling, public benefits advocacy, and housing assistance are also available to survivors of domestic violence. </li>
                            </ul>
                            <p>Visit this <a href="https://www.lacity.org/residents/popular-services/family-health-social-services/domestic-violence-resources" target="_blank" rel="noopener noreferrer">link</a> for resources in the city of Los Angeles.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">How can I help a friend who is in an abusive relationship?</h4>
                        <div class="faq-item__text">
                            <p>When supporting survivors, it's crucial to meet them where they are. Some may be ready to leave the relationship, while others may not. You must help them through whatever decisions they choose to make for themselves. Remember, don't judge and just listen. You can also provide referrals for safe spaces.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Can I come to see your shelter? Where is it located?</h4>
                        <div class="faq-item__text">
                            <p>No visitors are allowed at our shelters. We practice confidentiality to protect the security and privacy of domestic violence survivors. By housing them at a confidential address, we take precautions to prevent their abusers from discovering their whereabouts.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">How can I help Haven Hills? </h4>
                        <div class="faq-item__text">
                            <p>Organizations like Haven Hills depend on donors to provide vital domestic violence services that help survivors rebuild their lives. Here are some ways in which you can help empower survivors and transform lives today:</p>
                            <ul>
                                <li><a href="make-a-difference.html">Make a financial contribution</a></li>
                                <li><a href="make-a-difference.html">Purchase items on our wish list</a></li>
                                <li><a href="volunteers.html">Volunteer</a></li>
                            </ul>
                            <p>
                                Help us increase our outreach by sharing our social media posts with your online community. Our social handles are @havenhills.
                            </p>
                        </div>
                    </div>
                    <a href="#faq-modal" class="faq-item__button">Read more</a>
                </li>
            </ul>

            <div class="faq__pagination">
                <nav class="pagination">
                    <span class="pagination__button button pagination__prev pagination__button--disabled">Prev</span>
                    <a href="#" class="pagination__page pagination__page--current">1</a>
                    <a href="#" class="pagination__page">2</a>
                    <a href="#" class="pagination__page">...</a>
                    <a href="#" class="pagination__page">5</a>
                    <span class="pagination__button button pagination__next">Next</span>
                </nav>
            </div>
        </section>
    </div>
</main><!-- / .site-main -->

<div class="modal" id="faq-modal">
    <h4 class="modal__title"></h4>
    <div class="modal__text"></div>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>