<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {contact: 'current-menu-item'}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="faq">
            <div class="page-title page-title--center">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="search">
                <input type="text" class="search__input" name="search-input" id="search-input" placeholder="Search for a question">
                <button class="search__button"></button>
            </div>

            <ul class="faq__list">
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What is domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>Domestic violence is a pattern of coercive, controlling behavior that can include physical abuse, emotional or psychological abuse, sexual abuse or financial abuse (using money and financial tools to exert control). Some abusers are able to exert complete control over a victim’s every action without ever using violence or only using subtle threats of violence. All types of abuse are devastating to survivors.</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What are resources available for survivors?</h4>
                        <div class="faq-item__text">
                            <p>Survivors have many options, from obtaining a protection order to staying in a shelter, exploring options through support group, or making an anonymous call to a local domestic violence shelter</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Why do survivors sometimes return to or<br> stay with abusers?</h4>
                        <div class="faq-item__text">
                            <p>The question is not “Why doesn’t the survivor just leave?” The better question is “Why does the abuser choose to abuse?” The deck is stacked against victims as they navigate safety</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Do abusers show any potential warning signs?</h4>
                        <div class="faq-item__text">
                            <p>There is no way to spot an abuser in a crowd, but most abusers share some common characteristics. Some of the subtle warning signs include</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Is it possible for abusers to change?</h4>
                        <div class="faq-item__text">
                            <p>Yes, but they must first make the choice to change their behavior. It’s not easy for an abusive partner to stop choosing abusive behavior, and it requires a serious commitment to change</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Are men survivor of domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>Yes, men can be victims of domestic abuse. Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Do LGBTQ people experience domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>Yes, LGBTQ people can be survivors of domestic abuse. Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">How does the economy affect domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>A bad economy does not cause domestic violence, but it can make it worse. The severity and frequency of abuse can increase when factors associated with a bad economy are present. Job loss</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What can I do to help?</h4>
                        <div class="faq-item__text">
                            <p>Everyone can speak out against domestic violence. Use our “10 Tips to Have Informed Conversation about Domestic Violence” to help guide your conversations with friends, colleagues, and loved ones</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What are resources available for survivor?</h4>
                        <div class="faq-item__text">
                            <p>Survivors have many options, from obtaining a protection order to staying in a shelter, exploring options through support group, or making an anonymous call to a local domestic violence shelter </p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">What is domestic violence?</h4>
                        <div class="faq-item__text">
                            <p>Domestic violence is a pattern of coercive, controlling behavior that can include physical abuse, emotional or psychological abuse, sexual abuse or financial abuse (using money and financial tools to exert</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
                <li class="faq__item faq-item">
                    <div class="faq-item__content">
                        <h4 class="faq-item__title">Do abusers show any potential warning signs?</h4>
                        <div class="faq-item__text">
                            <p>There is no way to spot an abuser in a crowd, but most abusers share some common characteristics. Some of the subtle warning signs include</p>
                            <p>Domestic violence is a pervasive, life-threatening crime that affects millions of individuals across the United States regardless of age, economic status, race, sexual orientation, gender identity, religion, ability, or education level.</p>
                            <p>High-profile cases of domestic violence will attract headlines, but thousands of people experience domestic abuse every day. They come from all walks of life. In a 24-hour survey, the National Network to End Domestic Violence (NNEDV) found that U.S. domestic violence shelters and programs served 72,245 survivors and answered 20,352 crisis hotline calls in one day alone [1].</p>
                            <p>Abusive partners make it very difficult for survivors to escape relationships. Sadly, many survivors suffer from abuse for decades.</p>
                            <p>It is important for survivors to know that the abuse is not their fault, and that they are not alone. Help is available to those who are experiencing domestic violence.</p>
                        </div>
                    </div>
                    <a href="#faq-modal" rel="nofollow" class="faq-item__button btn-modal">Read more</a>
                </li>
            </ul>

            <div class="faq__pagination">
                <nav class="pagination">
                    <span class="pagination__button button pagination__prev pagination__button--disabled">Prev</span>
                    <a href="#" class="pagination__page pagination__page--current">1</a>
                    <a href="#" class="pagination__page">2</a>
                    <a href="#" class="pagination__page">...</a>
                    <a href="#" class="pagination__page">5</a>
                    <span class="pagination__button button pagination__next">Next</span>
                </nav>
            </div>
        </section>
    </div>
</main><!-- / .site-main -->

<div class="modal" id="faq-modal">
    <h4 class="modal__title"></h4>
    <div class="modal__text"></div>
</div>

<%=_.template(require('../parts/main-footer.html'))() %>