<%=_.template(require('../parts/main-header.html'))({
    title: "Make a difference | Haven Hills",
    menu: {difference: 'current-menu-item'}
}) %>

<main class="site-main">
    <div class="site-container">
        <div class="page-title-2 wow fadeIn">
            <h1>Make a difference</h1>
        </div>
        
        <section class="differences">
            <div class="container differences__container">
                <div class="differences__logo">
                    <img src="img/base/img-1.png" alt="" class=" wow fadeInUp">
                </div>

                <ul class="differences__list">
                    <li class="difference__item difference difference--half">
                        <div class="difference__logo">
                            <img src="img/base/difference-1.png" alt="">
                        </div>
                        <div class="difference__content">
                            <h3 class="difference__title">Monetary donations</h3>
                            <div class="difference__text">
                                <p>
                                    Your contribution during this unprecedented time will help Haven Hills 
                                    continue to provide survivors of domestic violence with necessities like food, 
                                    hygiene products, and safe housing. <b>They need our help now more than ever.</b>
                                </p>
                                <p>
                                    Your generous gift is absolutely essential to lifting up and transforming 
                                    the lives of survivors of domestic violence in our community. Any amount is 
                                    greatly appreciated. Thank you in advance for making a difference today.                            
                                </p>
                            </div>
                            <div class="difference__buttons">
                                <a href="#" class="button difference__button">Donate here</a>
                            </div>
                        </div>
                    </li>
                    
                    <li class="difference__item difference difference--half">
                        <div class="difference__logo">
                            <img src="img/base/difference-2.png" alt="">
                        </div>
                        <div class="difference__content">
                            <h3 class="difference__title">In-kind donations</h3>
                            <div class="difference__text">
                                <p>
                                    Survivors of domestic violence need your help. View our ongoing list of in-kind 
                                    donation needs below, and thank you in advance for making a difference today.
                                </p>
                            </div>
                            <div class="difference__buttons">
                                <a href="#" class="button difference__button">View in-kind donation list</a>
                            </div>
                        </div>
                    </li>

                    <li class="difference__item difference difference">
                        <div class="difference__logo">
                            <img src="img/base/difference-3.png" alt="">
                        </div>
                        <div class="difference__content">
                            <h3 class="difference__title">Amazon Wish List / AmazonSmile</h3>
                            <div class="difference__text">
                                <p>
                                    Are you looking to give back in another way? Here’s a list of items from 
                                    Amazon that we need to support survivors today. Alongside that, please 
                                    consider supporting Haven Hills with your Amazon shopping by registering 
                                    with the <a href="#">AmazonSmile program</a>.
                                </p>
                                <p>
                                    Through AmazonSmile, Amazon donates 0.5% of the price of any eligible 
                                    AmazonSmile purchase to the charitable organization of your choice. So, 
                                    register today and select Haven Hills Inc. if you would like to further 
                                    support survivors of domestic violence.
                                </p>
                            </div>
                            <div class="difference__buttons">
                                <a href="#" class="button difference__button">Register Here</a>
                                <a href="#" class="button difference__button">Amazon Wish List</a>
                            </div>
                        </div>
                    </li>

                    <li class="difference__item difference difference">
                        <div class="difference__logo">
                            <img src="img/base/difference-4.png" alt="">
                        </div>
                        <div class="difference__content">
                            <h3 class="difference__title">Gift cards</h3>
                            <div class="difference__text">
                                <p>
                                    A $25 gift card allows us to provide survivors of domestic violence with 
                                    necessities that improve their lives. Here’s a list of the gift cards that 
                                    will help survivors the most.
                                </p>
                            </div>
                            <div class="difference__buttons">
                                <a href="#" class="button difference__button">List of Accepted Gift Cards</a>
                            </div>
                        </div>
                    </li>

                    <li class="difference__item difference difference">
                        <div class="difference__logo">
                            <img src="img/base/difference-5.png" alt="">
                        </div>
                        <div class="difference__content">
                            <h3 class="difference__title">Appreciated Securities/Stock</h3>
                            <div class="difference__text">
                                <p>
                                    Stocks or other appreciated assets are an excellent tax-efficient way to 
                                    donate to Haven Hills. In most instances, you can take a tax deduction for 
                                    the full market value of the gift and avoid any capital gains tax.
                                </p>
                            </div>
                            <div class="difference__buttons">
                                <a href="#" class="button difference__button">Learn More</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>