<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <section class="stories">
        <div class="site-container">
            <div class="page-title page-title--center">
                <h1 class="wow fadeIn">Our impact</h1>
                <p class="page-title__text wow fadeIn">
                    Read a survivor's domestic violence story to learn how Haven Hills helps survivors break the cycle of domestic violence. 
                </p>
            </div>

            <ul class="stories__items">
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-1.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #1
                            </h3>
                        </a>
                        <div class="story-item__text">
                            When we talk about domestic violence, we often assume that the survivor is a woman. However, often overlooked are the thousands of men in this country ...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-2.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #2
                            </h3>
                        </a>
                        <div class="story-item__text">
                            <b>The following is Sahara’s story in her own words.</b>
                            <br><br>
                            Anthony was my childhood sweetheart and we were...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-3.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #3
                            </h3>
                        </a>
                        <div class="story-item__text">
                            When we talk about domestic violence, we often assume that the survivor is a woman. However, often overlooked are the thousands of men in this country ...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-4.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #4
                            </h3>
                        </a>
                        <div class="story-item__text">
                            When we talk about domestic violence, we often assume that the survivor is a woman. However, often overlooked are the thousands of men in this country ...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-5.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #5
                            </h3>
                        </a>
                        <div class="story-item__text">
                            When we talk about domestic violence, we often assume that the survivor is a woman. However, often overlooked are the thousands of men in this country ...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-6.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #6
                            </h3>
                        </a>
                        <div class="story-item__text">
                            <b>The following is Sahara’s story in her own words.</b>
                            <br><br>
                            Anthony was my childhood sweetheart and we were...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-7.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #7
                            </h3>
                        </a>
                        <div class="story-item__text">
                            When we talk about domestic violence, we often assume that the survivor is a woman. However, often overlooked are the thousands of men in this country ...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
                <li class="stories__item story-item">
                    <article>
                        <a href="story.html" class="story-item__hovers">
                            <div class="story-item__logo">
                                <img src="img/base/story-8.jpg" alt="">
                            </div>
                            <h3 class="story-item__title">
                                Survivor Story #8
                            </h3>
                        </a>
                        <div class="story-item__text">
                            When we talk about domestic violence, we often assume that the survivor is a woman. However, often overlooked are the thousands of men in this country ...
                        </div>
                        <a href="story.html" class="story-item__button button">Read more</a>
                    </article>
                </li>
            </ul><!-- /.stories__items -->
        </div>
    </section>

    <div class="stories__pagination">
        <nav class="pagination">
            <span class="pagination__button button pagination__prev pagination__button--disabled">Prev</span>
            <a href="#" class="pagination__page pagination__page--current">1</a>
            <a href="#" class="pagination__page">2</a>
            <a href="#" class="pagination__page">...</a>
            <a href="#" class="pagination__page">5</a>
            <span class="pagination__button button pagination__next">Next</span>
        </nav>
    </div>

    <section class="letters">
        <div class="site-container">
            <div class="container">
                <h3 class="letters__title">
                    Survivors have broken the cycle of domestic violence with help from haven hills. here's what they have to say
                </h3>
            </div>
            <div class="letters__slider swiper-container swiper-slider">
                <div class="swiper-wrapper">
                    <div class="letters__item letter swiper-slide">
                        <a href="img/base/letter-1.jpg" class="letter__img" data-fancybox="gallery">
                            <img src="img/base/letter-1.jpg" alt="">
                        </a>
                        <div class="letter__text modal" id="letter-1">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-1.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-1" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <a href="img/base/letter-3.jpg" class="letter__img" data-fancybox="gallery">
                            <img src="img/base/letter-3.jpg" alt="">
                        </a>
                        <div class="letter__text modal" id="letter-3">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-3.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-3" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <a href="img/base/letter-6.jpg" class="letter__img" data-fancybox="gallery">
                            <img src="img/base/letter-6.jpg" alt="">
                        </a>
                        <div class="letter__text modal" id="letter-6">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-6.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-6" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <a href="img/base/letter-2.jpg" class="letter__img" data-fancybox="gallery">
                            <img src="img/base/letter-2.jpg" alt="">
                        </a>
                        <div class="letter__text modal" id="letter-2">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-2.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-2" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <a href="img/base/letter-4.jpg" class="letter__img" data-fancybox="gallery">
                            <img src="img/base/letter-4.jpg" alt="">
                        </a>
                        <div class="letter__text modal" id="letter-4">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-4.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-4" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <a href="img/base/letter-5.jpg" class="letter__img" data-fancybox="gallery">
                            <img src="img/base/letter-5.jpg" alt="">
                        </a>
                        <div class="letter__text modal" id="letter-5">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-5.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-5" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                </div>
                <button class="swiper-button swiper-button--prev" type="button">
                    <svg width='27' height='11'>
                        <use xlink:href='#icon-arrow'></use>
                    </svg>
                </button>
                <button class="swiper-button swiper-button--next" type="button">
                    <svg width='27' height='11'>
                        <use xlink:href='#icon-arrow'></use>
                    </svg>
                </button>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <div class="site-container"></div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>