<%=_.template(require('../parts/main-header.html'))({
    title: "Services | Haven Hills",
    menu: {services: 'current-menu-item'}
}) %>

<main class="site-main">
    <div class="site-container">
        <div class="page-title-2">
            <h1 class="wow fadeIn">How we can help</h1>
        </div>
        <section class="services">
            <div class="services__nav services-nav">
                <div class="services-nav__inner">
                    <a href="#service-1" class="services-nav__link">#24/7 Crisis Line 818.887.6589</a>
                    <a href="#service-2" class="services-nav__link">#45-Day Crisis Shelter</a>
                    <a href="#service-3" class="services-nav__link">#Haven II Program: An 18-Month Transitional Housing Shelter</a>
                    <a href="#service-4" class="services-nav__link">#Outreach Services</a>
                </div>
            </div>
            <div class="services__header services-header">
                <div class="services-header__content wow fadeInLeft">
                    <h3 class="services-header__title">
                        Important: devices, internet privacy, and social media
                    </h3>
                    <div class="services-header__text">
                        <p>
                            Please understand that any device you use, including computers, smartphones, tablets, etc., can be monitored by an abuser. There are ways for an abuser to access your social media and email account, as well as discover what sites you’ve visited on the internet since it’s nearly impossible to remove all the data related to your internet activity across your devices. 
                        </p>
                        <p>
                            Please take safety measures to protect yourself by using a computer at a public terminal, such as a library or community center. You may also choose to call our 24/7 Crisis Line at 818.887.6589 from a payphone or any other secure phone.                            
                        </p>
                    </div>
                </div>
                <div class="services-header__logo wow fadeInUp">
                    <img src="img/base/img-3.png" alt="">
                </div>
            </div><!-- /.services-header -->

            <div class="services__info services-info">
                <div class="services-info__title">
                    24/7 Crisis Line<br> 818.887.6589
                </div>
                <div class="services-info__text">
                    You are not alone
                </div>
            </div><!-- /.services-info -->

            <ul class="services__list services-list">
                <li class="services-list__item service" id="service-1">
                    <div class="service__content">
                        <div class="service__logo">
                            <img src="img/base/service-1.jpg" alt="">
                        </div>
                        <h3 class="service__title">
                            24/7 Crisis Line<br> 818.887.6589
                        </h3>
                        <div class="service__text">
                            <p>
                                You are not alone. Trained counselors and volunteers staff our 24/7 Crisis Line. Whether you’re a survivor of domestic violence or a friend reaching out on behalf of a survivor, you’re  always able to talk with a qualified member from our team who is ready to listen and can help.
                            </p>
                            <p>
                                Our bilingual counselors provide assistance for survivors in English and Spanish, including:
                            </p>
                            <ul>
                                <li>Access to a 45-day crisis shelter</li>
                                <li>Referrals to medical care</li>
                                <li>Referrals to available legal and social service resources</li>
                                <li>Help in developing a safety plan</li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contacts.html" class="button service__button">Contact us</a>
                </li>
                
                <li class="services-list__item service" id="service-2">
                    <div class="service__content">
                        <div class="service__logo">
                            <img src="img/base/service-2.jpg" alt="">
                        </div>
                        <h3 class="service__title">
                            45-Day Crisis Shelter
                        </h3>
                        <div class="service__text">
                            <p>
                                The 45-day crisis shelter provides survivors of domestic violence, as well as their children, with a safe, secure, and confidential space to find stability, break away, reassess, and begin to transform their lives. The shelter provides food, clothing, and supportive services for 45 days.
                            </p>
                            <p>
                                Our staff immediately addresses trauma with:
                            </p>
                            <ul>
                                <li>Counseling, support, and advocacy</li>
                                <li>Legal and medical referrals</li>
                                <li>Development of a safety plan</li>
                                <li>Access to community resources</li>
                                <li>Children’s programs and an on-site shelter school</li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contacts.html" class="button service__button">Contact us</a>
                </li>
                
                <li class="services-list__item service" id="service-3">
                    <div class="service__content">
                        <div class="service__logo">
                            <img src="img/base/service-3.jpg" alt="">
                        </div>
                        <h3 class="service__title">
                            Haven II Program: An 18-Month Transitional Housing Shelter
                        </h3>
                        <div class="service__text">
                            <p>
                                The Haven II Program provides no-cost temporary housing for survivors of domestic violence, as well as their children, to take the next steps in stabilizing their lives and planning for the future. This 18-month program provides the survivor with tools to establish credit, develop a budget, find a permanent place to live, and develop a plan for safety. It includes the following:
                            </p>
                            <ul>
                                <li>Access to a 45-day crisis shelter</li>
                                <li>Referrals to medical care</li>
                                <li>Referrals to available legal and social service resources</li>
                                <li>Help in developing a safety plan</li>
                            </ul>
                        </div>
                    </div>
                    <a href="/contacts.html" class="button service__button">Contact us</a>
                </li>
                
                <li class="services-list__item service" id="service-4">
                    <div class="service__content">
                        <div class="service__logo">
                            <img src="img/base/service-4.jpg" alt="">
                        </div>
                        <h3 class="service__title">
                            Outreach Services
                        </h3>
                        <div class="service__text">
                            <p>
                                We offer day and evening support group times, information sessions, and more. Those who participate in support groups learn to recognize the signs of domestic violence, come to understand the barriers to leaving, and gain an education about the legal resources available to survivors of domestic violence. Our trained staff is here to help you learn and heal, no matter if you’re looking to talk with others who have been affected by unhealthy relationships or need hands-on support to create an action plan. 
                            </p>
                            <p>
                                Counseling services are offered in both English and Spanish.
                            </p>
                        </div>
                    </div>
                    <a href="/contacts.html" class="button service__button">Contact us</a>
                </li>
            </ul><!-- /.services-list -->
        </section><!-- /.services -->

        <section class="other-services">
            <h2 class="other-services__title">Additional services</h2>
            
            <ul class="other-services__list">
                <li class="other-services__item other-service">
                    <div class="other-service__logo">
                        <img src="img/base/service-5.jpg" alt="">
                    </div>
                    <div class="other-service__content">
                        <div class="other-service__title">Workshops and trainings</div>
                        <div class="other-service__text">
                            <p>
                                Group workshops and training sessions are available for those who want to learn how to recognize the signs of domestic violence, understand the barriers to leaving, comprehend the psychological impacts of domestic violence, and receive an education on the legal resources available to survivors of domestic violence.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="other-services__item other-service">
                    <div class="other-service__logo">
                        <img src="img/base/service-6.jpg" alt="">
                    </div>
                    <div class="other-service__content">
                        <div class="other-service__title">Children’s programs</div>
                        <div class="other-service__text">
                            <p>
                                Haven Hills provides resident children with group counseling and support groups that emphasize art and play. Children also receive one-on-one tutoring through the programs.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="other-services__item other-service">
                    <div class="other-service__logo">
                        <img src="img/base/service-7.jpg" alt="">
                    </div>
                    <div class="other-service__content">
                        <div class="other-service__title">Calworks services</div>
                        <div class="other-service__text">
                            <p>
                                In collaboration with the L.A. Department of Public Social Services, Haven Hills assists survivors in the CalWORKs GAIN Program to recover from domestic violence and move toward self-sufficiency and employment.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="other-services__item other-service">
                    <div class="other-service__logo">
                        <img src="img/base/service-8.jpg" alt="">
                    </div>
                    <div class="other-service__content">
                        <div class="other-service__title">LGBTQ Community</div>
                        <div class="other-service__text">
                            <p>
                                Haven Hills housing and counseling services are available to anyone who has been impacted by an abusive relationship, regardless of gender, gender identity, or sexual orientation. We offer LGBTQ-specific group counseling sessions and workshops.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </section><!-- /.other-services -->
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>