<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <section class="story">
        <div class="site-container">
            <div class="container">
                <div class="story__content">
                    <h1 class="story__title">Survivor Story #2</h1>
                    <div class="story__img">
                        <img src="img/base/story-2.jpg" alt="">
                    </div>
                    <div class="story__text">
                        <p><b>The following is Sahara’s story in her own words.</b></p>
                        <p>Anthony was my childhood sweetheart and we were together since I was 15 years old. Looking back I should have seen the signs. How he isolated me from my family and friends. When he was jealous of the doctor I worked for, I thought it was cute and that he was being sensitive. When he put me down, I thought it was my fault.</p>
                        <p>When he cheated on me and lied, I believed him because I was in love. He was my family, the father of my children and I was emotionally and financially dependent on him.</p>
                        <p>When I tried to stand up for myself, he would scream at me for hours and then leave for days at a time, empty out the back account and leave me at home with three children — no food and no money. I couldn’t do anything right. He complained even about the way I cleaned. He would say that I scrubbed everything, I don’t clean. If I cooked it was too salty and he would throw it all away. I couldn’t scream back — there would be more screaming, less money, more stress.</p>
                        <p>So I took it and I tried to downplay all his behavior – I was trying desperately to hold my family together. And then it all got worse — he started to do meth. He was always high and would wonder around at night. I was terrified of what he would do and couldn’t sleep. I was exhausted.</p>
                        <p>I started putting bells on my kid’s doors to keep them safe. I finally ended up telling my mom and she said “You have three kids, men cheat, figure it out”. Then it got worse, when he saw that I had no one to turn to and that I was all alone. That’s when the mad man came out. That scared me a lot because I had nowhere to go.</p>
                        <p>I couldn’t shower with the door closed, then I couldn’t shower with the shower curtain closed. He wanted me to get mad and then get better. And then get mad again – it was a vicious cycle. Then it happened, the final straw. In a meth induced hallucination, he tried to attack my daughter and that was it, when he started attacking the kids we had to go.</p>
                        <p>My dad came the next day to pick me up and two years later I stand before you a woman trying to rebuild her life and that of her children and tremendously thankful to Haven Hills for the help that they have given me. When I walked through the doors of the Haven Hills Outreach Program, I had such bad anxiety that it was hard for me to share during group. You see when I was with Anthony, I was so depressed that I would sit for hours on the couch. I was terrified of that couch – I didn’t want to get stuck.</p>
                        <p>My counselor suggested that I come in for individual counseling until I was ready for group. She cared enough to meet me where I was. It had been a while since anyone had done that. At first I went to group and didn’t talk. But, little by little I started sharing experiences because I wasn’t the only one. Hearing other people’s stories helped. I wasn’t the only one terrified, I wasn’t the only one whose husband was using drugs. Haven Hills helped me to realize that my journey is a roller-coaster, that there is no time limit to healing.</p>
                        <p>Haven Hills has given me the support and the strength that I need to talk about anything with no judgment. The arts that we do always kill me because you need to dig deep to really explore your losses. I need to hurt before it gets better.</p>
                        <p>My counselor at Haven Hills also helped me find one-on-one therapy for my kids and myself. Between the work I did at Haven Hills and with my therapist, I have slowly started to heal. I now understand the cycle of abuse. I understood that I wasn’t crazy. I learned boundaries and that there are no right or wrong answers – what’s safer for now is all I can hope for. I also know now that this journey of healing is going to take a while. I will have setbacks, but I know now how to keep going. Years of emotional, psychological and financial abuse will probably take me years to get over, but I now have the tools I need to get better.</p>
                        <p>I owe it to myself and to my children. They are worth it.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="story__nav">
            <div class="site-container">
                <a href="our-impact.html" class="story__back">Back to all stories</a>
                <a href="story.html" class="story__next">
                    <span>Next:</span> Survivor story #2
                    <svg width='32' height='12'>
                        <use xlink:href='#icon-arrow'></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>

    <section class="letters">
        <div class="site-container">
            <div class="container">
                <h3 class="letters__title">
                    Survivors have broken the cycle of domestic violence with help from haven hills. here's what they have to say
                </h3>
            </div>
            <div class="letters__slider swiper-container swiper-slider">
                <div class="swiper-wrapper">
                    <div class="letters__item letter swiper-slide">
                        <div class="letter__img">
                            <img src="img/base/letter-1.jpg" alt="">
                        </div>
                        <div class="letter__text modal" id="letter-1">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-1.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-1" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <div class="letter__img">
                            <img src="img/base/letter-3.jpg" alt="">
                        </div>
                        <div class="letter__text modal" id="letter-3">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-3.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-3" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <div class="letter__img">
                            <img src="img/base/letter-6.jpg" alt="">
                        </div>
                        <div class="letter__text modal" id="letter-6">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-6.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-6" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <div class="letter__img">
                            <img src="img/base/letter-2.jpg" alt="">
                        </div>
                        <div class="letter__text modal" id="letter-2">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-2.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-2" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <div class="letter__img">
                            <img src="img/base/letter-4.jpg" alt="">
                        </div>
                        <div class="letter__text modal" id="letter-4">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-4.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-4" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                    <div class="letters__item letter swiper-slide">
                        <div class="letter__img">
                            <img src="img/base/letter-5.jpg" alt="">
                        </div>
                        <div class="letter__text modal" id="letter-5">
                            <p>It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face.  I have come to the end of my is monyh and I am leaning here as a brand new woman. It is with complete horor that I am writing this thank you letter to thark Haven Hills for changing my life for the best. Haven Hills staff has been amazing througt the most difficult transition my kids and I ever had to face. I have come to the end of my is monyh and I am leaning here as a brand new woman...</p>
                        </div>
                        <div class="letter__buttons">
                            <a href="img/base/letter-5.jpg" class="letter__img-button button" data-fancybox="images">
                                View original letter
                            </a>
                            <a href="#letter-5" class="letter__text-button button" data-fancybox="texts">
                                Read text
                            </a>
                        </div>
                    </div>
                </div>
                <button class="swiper-button swiper-button--prev" type="button">
                    <svg width='27' height='11'>
                        <use xlink:href='#icon-arrow'></use>
                    </svg>
                </button>
                <button class="swiper-button swiper-button--next" type="button">
                    <svg width='27' height='11'>
                        <use xlink:href='#icon-arrow'></use>
                    </svg>
                </button>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <div class="site-container"></div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>