<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="volunteers wow fadeIn">
            <div class="page-title">
                <h1>Volunteer</h1>
            </div>
            <div class="volunteers__text">
                <div class="container">
                    <p>
                        Join our team of dedicated volunteers, and help survivors of domestic violence end the cycle of domestic violence. Volunteer opportunities include: 
                    </p>
                </div>
            </div>

            <ul class="volunteers__list">
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #53AB61;">
                        <img src="img/base/volunteer-1.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Crisis Hotline Operator*
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #4789B6;">
                        <img src="img/base/volunteer-2.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Children’s Program*
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #DC674A;">
                        <img src="img/base/volunteer-3.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        K-12 School Assistant
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #443776;">
                        <img src="img/base/volunteer-4.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Children’s Activity Groups*
                    </div>
                </li>

                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #DC674A;">
                        <img src="img/base/volunteer-5.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Service Program
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #443776;">
                        <img src="img/base/volunteer-6.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Organize Donations
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #53AB61;">
                        <img src="img/base/volunteer-7.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Help with Mass Mailings
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #4789B6;">
                        <img src="img/base/volunteer-8.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Event Marketing/Phone Outreach
                    </div>
                </li>

                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #4789B6;">
                        <img src="img/base/volunteer-9.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Lead Workshops on Health, Finance, Resume Writing, etc.*
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #DC674A;">
                        <img src="img/base/volunteer-10.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Court Accompaniment*
                    </div>
                </li>
            </ul><!-- /.volunteers__list -->

            <div class="container">
                <div class="volunteers__requires">
                    *Requires a <strong>40-Hour Domestic Violence Training</strong> mandated by California Evidence Code 1037.1.0. 
                </div>

                <div class="volunteers__info wow fadeInUp">
                    For more information about volunteer opportunities, please email<br>
                    <a href="mailto:volunteers@havenhills.org">volunteers@havenhills.org</a>, or call <a href="tel:818-887-7481">818-887-7481</a> ext. 137
                </div>

                <form action="#" class="form volunteers__form wow fadeIn" data-wow-offset="100">
                    <h3 class="form__title">
                        Join our team of dedicated volunteers
                    </h3>
                    <div class="form__block">
                        <h4>Contact Information</h4>
                        <ul class="form__fields-list fields-list">
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="name" id="volunteer-name">
                                <label for="volunteer-name">Full Name</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="phone" id="volunteer-phone">
                                <label for="volunteer-phone">Cell Phone</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="email" name="email" id="volunteer-email">
                                <label for="volunteer-email">Email Address</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="address" id="volunteer-address-1">
                                <label for="volunteer-address-1">Street Address</label>
                            </li>
                            <li class="fields-list__item">
                                <input type="text" name="address" id="volunteer-address-2">
                                <label for="volunteer-address-2">City ST ZIP Code</label>
                            </li>
                        </ul>
                    </div><!-- /.form__block -->

                    <div class="form__block">
                        <h4>Availability</h4>
                        <p>
                            During which hours are you available for volunteer assignments?
                        </p>
                        <div class="form__table table">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <span>Monday</span>
                                            <span>Mon</span>
                                        </th>
                                        <th>
                                            <span>Tuesday</span>
                                            <span>Tue</span>
                                        </th>
                                        <th>
                                            <span>Wednesday</span>
                                            <span>Wed</span>
                                        </th>
                                        <th>
                                            <span>Thursday</span>
                                            <span>Thu</span>
                                        </th>
                                        <th>
                                            <span>Friday</span>
                                            <span>Fri</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mornings (8:00-12:00)</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-1">
                                                <label for="checkbox-1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-2">
                                                <label for="checkbox-2"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-3">
                                                <label for="checkbox-3"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-4">
                                                <label for="checkbox-4"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-5">
                                                <label for="checkbox-5"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Midmorning (10:30-2:30)</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-6">
                                                <label for="checkbox-6"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-7">
                                                <label for="checkbox-7"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-8">
                                                <label for="checkbox-8"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-9">
                                                <label for="checkbox-9"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-10">
                                                <label for="checkbox-10"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Afternoons (1:00-3:00)</td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-11">
                                                <label for="checkbox-11"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-12">
                                                <label for="checkbox-12"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-13">
                                                <label for="checkbox-13"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-14">
                                                <label for="checkbox-14"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input type="checkbox" id="checkbox-15">
                                                <label for="checkbox-15"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.form__block -->

                    <div class="form__block">
                        <h4>Background Information</h4>
                        <p>
                            Have you ever worked or volunteered in a DV Shelter or homeless shelter? 
                        </p>
                        <div class="form__label-group label-group">
                            <div class="checkbox label-group__item">
                                <input name="is-volunteered" id="volunteered-yes" type="radio" value="Yes">
                                <label for="volunteered-yes">Yes</label>
                            </div>
                            <div class="checkbox label-group__item">
                                <input name="is-volunteered" id="volunteered-no" type="radio" value="No">
                                <label for="volunteered-no">No</label>
                            </div>
                        </div>
                        
                        <p>
                            If yes, when and in what capacity? 
                        </p>
                        <textarea name="capacity" id="volunteer-capacity"></textarea>
                        <br>

                        <p>
                            Languages spoken other than English:
                        </p>
                        <ul class="languages">
                            <li class="languages__item language">
                                <div class="language__name">
                                    <input type="text" name="" id="">
                                </div>
                                <div class="language__levels">
                                    <div class="checkbox language__level">
                                        <input name="language-1" id="language-1-fluently" type="radio" value="Fluently">
                                        <label for="language-1-fluently">Fluently</label>
                                    </div>
                                    <div class="checkbox language__level">
                                        <input name="language-1" id="language-1-passably" type="radio" value="Passably">
                                        <label for="language-1-passably">Passably</label>
                                    </div>
                                </div>
                            </li>
                            <li class="languages__item language">
                                <div class="language__name">
                                    <input type="text" name="" id="">
                                </div>
                                <div class="language__levels">
                                    <div class="checkbox language__level">
                                        <input name="language-2" id="language-2-fluently" type="radio" value="Fluently">
                                        <label for="language-2-fluently">Fluently</label>
                                    </div>
                                    <div class="checkbox language__level">
                                        <input name="language-2" id="language-2-passably" type="radio" value="Passably">
                                        <label for="language-2-passably">Passably</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.form__block -->

                    <div class="form__block">
                        <h4>Special Skills or Qualifications</h4>
                        <p>
                            Summarize special skills and qualifications you have acquired from employment, <br>
                            previous volunteer work, or through other activities, including hobbies or sports.
                        </p>
                        <textarea name="skills" id="volunteer-skills"></textarea>
                    </div><!-- /.form__block -->

                    <div class="form__block">
                        <h4>Requirements for volunteering</h4>
                        <ul>
                            <li>Must be at least 18 years of age</li>
                            <li>TB skin test required</li>
                            <li>Live Scan / Background check</li>
                            <li>40 Hour training* 125.00 vs 250.00</li>
                        </ul>
                    </div><!-- /.form__block -->
                    
                    <div class="form__block">
                        <h4>Person to Notify in Case of Emergency</h4>
                        <ul class="form__fields-list fields-list">
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="name" id="volunteer-person-name">
                                <label for="volunteer-person-name">Name/ Relationship</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="phone" id="volunteer-person-phone">
                                <label for="volunteer-person-phone">Home Phone</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="phone" id="volunteer-person-phone">
                                <label for="volunteer-person-phone">Work Phone</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="email" name="email" id="volunteer-person-email">
                                <label for="volunteer-person-email">Email Address</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="address" id="volunteer-person-address-1">
                                <label for="volunteer-person-address-1">Street Address</label>
                            </li>
                            <li class="fields-list__item fields-list__item--half">
                                <input type="text" name="address" id="volunteer-person-address-2">
                                <label for="volunteer-person-address-2">City ST ZIP Code</label>
                            </li>
                        </ul>
                    </div><!-- /.form__block -->
                    
                    <div class="form__block">
                        <h4>Agreement and Signature</h4>
                        <p>
                            By submitting this application, I affirm that the facts set forth in it are true and complete. I understand that if I am accepted as a volunteer, any false statements, omissions, or other misrepresentations made by me on this application may result in my immediate dismissal.
                        </p>
                        <!-- <ul class="form__fields-list fields-list">
                            <li class="fields-list__item fields-list__item--third">
                                <input type="text" name="name" id="volunteer-agreement-name">
                                <label for="volunteer-agreement-name">Name (printed)</label>
                            </li>
                            <li class="fields-list__item fields-list__item--third">
                                <input type="text" name="phone" id="volunteer-agreement-signature">
                                <label for="volunteer-agreement-signature">Signature</label>
                            </li>
                            <li class="fields-list__item fields-list__item--third">
                                <input type="text" name="phone" id="volunteer-agreement-date">
                                <label for="volunteer-agreement-date">Date</label>
                            </li>
                        </ul> -->
                    </div><!-- /.form__block -->
                    
                    <div class="form__block">
                        <h4>Our Policy</h4>
                        <p>
                            It is the policy of this organization to provide equal opportunities without regard to race, color, religion, national origin, gender, sexual preference, age, or disability.
                        </p>
                        <p>
                            Thank you for completing this application form and for your interest in volunteering with us.
                        </p>
                    </div><!-- /.form__block -->
                    
                    <button type="submit" class="button form__button">Submit</button>
                </form><!-- /.volunteers__form -->
            </div>
        </section>
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>