<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="volunteers wow fadeIn">
            <div class="page-title">
                <h1>Volunteer</h1>
            </div>
            <div class="volunteers__text">
                <div class="container">
                    <p>
                        Join our team of dedicated volunteers, and help survivors of domestic violence end the cycle of domestic violence. Volunteer opportunities include: 
                    </p>
                </div>
            </div>

            <ul class="volunteers__list">
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #53AB61;">
                        <img src="img/base/volunteer-1.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Crisis Hotline Operator*
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #4789B6;">
                        <img src="img/base/volunteer-2.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Children’s Program*
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #DC674A;">
                        <img src="img/base/volunteer-3.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        K-12 School Assistant
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #443776;">
                        <img src="img/base/volunteer-4.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Children’s Activity Groups*
                    </div>
                </li>

                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #DC674A;">
                        <img src="img/base/volunteer-5.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Service Program
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #443776;">
                        <img src="img/base/volunteer-6.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Organize Donations
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #53AB61;">
                        <img src="img/base/volunteer-7.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Help with Mass Mailings
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #4789B6;">
                        <img src="img/base/volunteer-8.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Event Marketing/Phone Outreach
                    </div>
                </li>

                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #4789B6;">
                        <img src="img/base/volunteer-9.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Lead Workshops on Health, Finance, Resume Writing, etc.*
                    </div>
                </li>
                <li class="volunteers__item volunteer">
                    <div class="volunteer__logo" style="background-color: #DC674A;">
                        <img src="img/base/volunteer-10.png" alt="">
                    </div>
                    <div class="volunteer__title">
                        Court Accompaniment*
                    </div>
                </li>
            </ul>

            <div class="volunteers__requires">
                <div class="container">
                    *Requires a <strong>40-Hour Domestic Violence Training</strong> mandated by California Evidence Code 1037.1.0. 
                </div>
            </div>

            <div class="volunteers__footer wow bounceInUp">
                <div class="container">
                    For more information about volunteer opportunities, please email<br>
                    <a href="mailto:volunteers@havenhills.org">volunteers@havenhills.org</a>, or call <a href="tel:818-887-7481">818-887-7481</a> ext. 137
                </div>
            </div>
        </section>
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>