<%=_.template(require('../parts/main-header.html'))({
    title: "Haven Hills | Stop Domestic Violence, Build Self-Reliance, Save Lives",
    menu: {who: 'current-menu-item'}
}) %>

<main class="site-main">
    <div class="site-container">
        <section class="about-header">
            <div class="container about-header__container wow fadeIn">
                <h1 class="about-header__title">Who we are</h1>
                <div class="about-header__text">
                    <p>
                        Since 1977 Haven Hills has lifted up survivors of domestic violence to 
                        transform their lives. We offer shelter, crisis intervention, counseling, 
                        advocacy, and activities supporting increased economic opportunity for over 
                        2,500 women and men each year. In doing so, we help survivors of domestic 
                        violence find the strength within themselves to break the cycle of abuse and 
                        build a new, productive, and joyful life for themselves and their children.
                    </p>
                </div>
            </div>
            <div class="about-header__logo wow fadeInUp">
                <img src="img/base/who-we-are-desktop.jpg" alt="">
                <img src="img/base/who-we-are-mobile.jpg" alt="">
            </div>
        </section>

        <section class="about-mission">
            <div class="container about-mission__container">
                <div class="about-mission__content wow fadeInLeft">
                    <h2 class="about-mission__title">Our mission</h2>
                    <div class="about-mission__text">
                        <p>
                            We exist to empower survivors and transform their lives. Our name reflects 
                            the space we create for survivors: a place of hope and healing. Haven Hills 
                            is a safe place where survivors can find the support and empowerment they 
                            need to live a new life.
                        </p>
                    </div>
                </div>
                <div class="about-mission__logo wow fadeInUp">
                    <img src="img/base/img-4.png" alt="">
                </div>
            </div>
        </section>

        <section class="about-vision">
            <div class="container about-vision__container">
                <div class="about-vision__content wow fadeInRight">
                    <h2 class="about-vision__title">Our vision</h2>
                    <div class="about-vision__text">
                        <p>
                            We believe everyone deserves to live a life free from violence, and that 
                            healthy relationships transform society. Our vision is to lift up survivors 
                            of domestic violence, transform their lives, and foster family and community 
                            relationships rooted in equality and mutual respect.
                        </p>
                    </div>
                </div>
                <div class="about-vision__logo wow fadeInUp">
                    <img src="img/base/img-2.png" alt="">
                </div>
            </div>
        </section>

        <section class="directors">
            <div class="container directors__container wow fadeInUp">
                <h2 class="directors__title">Board of directors</h2>
                <div class="directors__years">Fiscal Year 2020-2021</div>
            </div>

            <ul class="directors__list">
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-1.jpg" alt="">
                    </div>
                    <div class="director__name">Linda Bessin</div>
                    <div class="director__position">President | Community Activist</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-2.jpg" alt="">
                    </div>
                    <div class="director__name">Belinda Morris</div>
                    <div class="director__position">Co-Vice President | Peoplescape Consulting Group</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-3.jpg" alt="">
                    </div>
                    <div class="director__name">Jennifer Skolnick</div>
                    <div class="director__position">Co-Vice President | Skolnick Family Law</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-4.jpg" alt="">
                    </div>
                    <div class="director__name">Melissa Estrada</div>
                    <div class="director__position">Treasurer | Miracle Mile Advisors</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-5.jpg" alt="">
                    </div>
                    <div class="director__name">Matthew Breddan</div>
                    <div class="director__position">Secretary | The Reape-Rickett Law Firm</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-6.jpg" alt="">
                    </div>
                    <div class="director__name">Lynn Brandt</div>
                    <div class="director__position">Community Activist</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-7.jpg" alt="">
                    </div>
                    <div class="director__name">Dennis Duitch</div>
                    <div class="director__position">Director | Duitch Consulting</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-8.jpg" alt="">
                    </div>
                    <div class="director__name">Kirby Hays</div>
                    <div class="director__position">CEO | Hal Hays Construction, Inc</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-9.jpg" alt="">
                    </div>
                    <div class="director__name">Christine Kundly</div>
                    <div class="director__position">Director | Southern California Gas</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-10.jpg" alt="">
                    </div>
                    <div class="director__name">Nathalie Lubensky</div>
                    <div class="director__position">Consultant, Marketing</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-11.jpg" alt="">
                    </div>
                    <div class="director__name">Grace Mitnick</div>
                    <div class="director__position">Realtor | Compass</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-12.jpg" alt="">
                    </div>
                    <div class="director__name">Sarah Prince</div>
                    <div class="director__position">Director | United Agencies Inc</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-13.jpg" alt="">
                    </div>
                    <div class="director__name">Gerry Seli</div>
                    <div class="director__position">KGI</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-14.jpg" alt="">
                    </div>
                    <div class="director__name">Martha Spano</div>
                    <div class="director__position">Banking | UBS Financial Services</div>
                </li>
                <li class="directors__item director">
                    <div class="director__photo">
                        <img src="img/base/director-15.jpg" alt="">
                    </div>
                    <div class="director__name">Valerie Bowman</div>
                    <div class="director__position"></div>
                </li>
            </ul>
        </section>
    </div>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-footer.html'))() %>